# env
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache files
__pycache__/
.DS_Store

# Distribution files
dist/

# Assignment files
MindMetrix_DataScientistAssignment/

# Data files`
data/
